.wrapper {
    min-width: 100px;
    padding: 8px 30px;
    background-color: #fff;
    border: 1px solid rgba(22, 24, 35, 0.12);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    &.primary {
        background-color: var(--cl-primary);
        color: #fff;
        border: 0;
        &:hover {
            background-color: rgba(254, 44, 85, 0.7);
        }
    }
    &.outline {
        border: 0;
    }
    &.upload {
        &:hover {
            background-color: rgba(22, 24, 35, 0.03);
        }
    }
    &:not(:last-child) {
        margin-right: 10px;
    }
    .icon {
        display: inline-block;
        width: 20px;
    }
    .icon + .title,
    .title + .icon {
        margin-left: 10px;
    }
}
.option-btn {
    width: 100%;
    justify-content: flex-start;
    padding: 10px 16px;
    border-radius: 0;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
